In [1]:
import pandas as pd

In [13]:
# 1) Upload CSV file containing scraped raw data (web_scraping.ipynb)
df = pd.read_csv(r'C:\Users\DAV\Documents\Python\Python_Project\House_price_project\data\raw\8_1_2024.csv')

In [14]:
# 2) Delete first column (unnamed) using its index.
df.drop(df.columns[0], axis=1, inplace=True)

In [15]:
# 3) Replace NaN with 0. 
df['square_meters'] = df['square_meters'].fillna(0)
df['rooms'] = df['rooms'].fillna(0)
df['parking'] = df['parking'].fillna(0)
df['baths'] = df['baths'].fillna(0)

In [16]:
# 4) Convert columns to integers.
df['square_meters'] = df['square_meters'].astype(int)
df['rooms'] = df['rooms'].astype(int)
df['parking'] = df['parking'].astype(int)
df['baths'] = df['baths'].astype(int)

In [17]:
# 5) Delete those records that have similarity in: title, square_meters, rooms, parking and baths.

#  Count rows number before removing duplicates.
initial_count = df.shape[0]

# Remove duplicates considering specified columns.
df.drop_duplicates(subset=['title', 'square_meters', 'rooms', 'parking', 'baths'], inplace=True)

# Count rows number after removing duplicates.
final_count = df.shape[0]

# Calculate how many rows were deleted.
removed_count = initial_count - final_count

# Message about how many rows were deleted.
print(f"\n{removed_count} duplicate rows were removed.")

33 duplicate rows were removed.

In [ ]:
df.head()

In [67]:
df.head()

,title,price,square_meters,rooms,parking,baths,location,img_url,url,adv_description
0,Casas en venta,"['Q965,000']",138.0,3.0,2.0,3.0,Villa Canales,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,Se venden bonitas casas en Altos de Village ki...
1,Venta apartamento zona 10,"['Q560,000']",23.0,1.0,NaN,1.0,Zona 10,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,"Precio de venta: Q.560,000 Mantenimiento: Q...."
2,Casa en venta el Residenciales Lo de Valdez,"['Q1,200,000']",320.0,4.0,3.0,3.0,San José Pinula,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,"Casa en venta Residenciales A lo de Valdez, km..."
3,Vendo Casa para estrenar 4 habitaciones km 14...,"['$229,000']",256.0,4.0,2.0,3.0,Santa Catarina Pinula,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,Preciosas Casa de 4 Habitaciones en desniveles...
4,Apartamentos en venta Cendana zona 9,"['Q1,159,541']",77.0,2.0,1.0,2.0,Zona 9,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,"Apartamentos en venta de 1 y 2 habitaciones, C..."

In [20]:
df.head(5)

,Unnamed: 0,title,price,square_meters,rooms,parking,baths,location,img_url,url,adv_description,price_quetzales,price_in_quetzales
0,0,Casas en venta,"['Q965,000']",138.0,3.0,2.0,3.0,Villa Canales,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,Se venden bonitas casas en Altos de Village ki...,None,None
1,1,Venta apartamento zona 10,"['Q560,000']",23.0,1.0,NaN,1.0,Zona 10,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,"Precio de venta: Q.560,000 Mantenimiento: Q....",None,None
2,2,Casa en venta el Residenciales Lo de Valdez,"['Q1,200,000']",320.0,4.0,3.0,3.0,San José Pinula,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,"Casa en venta Residenciales A lo de Valdez, km...",None,None
3,3,Vendo Casa para estrenar 4 habitaciones km 14...,"['$229,000']",256.0,4.0,2.0,3.0,Santa Catarina Pinula,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,Preciosas Casa de 4 Habitaciones en desniveles...,None,None
4,4,Apartamentos en venta Cendana zona 9,"['Q1,159,541']",77.0,2.0,1.0,2.0,Zona 9,https://photos.encuentra24.com/t_or_fh_m/f_aut...,https://www.encuentra24.com/guatemala-es/biene...,"Apartamentos en venta de 1 y 2 habitaciones, C...",None,None

In [6]:


# Para 'price', puedes convertirlo a un número (si está como texto) y manejar los valores nulos
df['price'] = df['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)  # Limpiar y convertir

<>:8: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
C:\Users\DAV\AppData\Local\Temp\ipykernel_3584\2607917830.py:8: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)  # Limpiar y convertir
C:\Users\DAV\AppData\Local\Temp\ipykernel_3584\2607917830.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['square_meters'].fillna(df['square_meters'].median(), inplace=True)  # Rellenar con la mediana
C:\Users\DAV\AppData\Local\Temp\ipykernel_3584\2607917830.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rooms'].fillna(df['rooms'].median(), inplace=True)
C:\Users\DAV\AppData\Local\Temp\ipykernel_3584\2607917830.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['parking'].fillna(df['parking'].median(), inplace=True)
C:\Users\DAV\AppData\Local\Temp\ipykernel_3584\2607917830.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['baths'].fillna(df['baths'].median(), inplace=True)

ValueError: could not convert string to float: "['Q965000']"